html{
    font-family: Proxima Nova,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: #364141;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    cursor: default;
}

.font {
	font-size: 1rem;
	font-family: "Proxima Nova",proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}
